<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="restricted_to_insert">
	<insert id="insert" parameterType="java.util.Map">
            INSERT INTO app.data ("key", "value")
            VALUES (#{idx1}, #{idx2})
    </insert>
	<insert id="insert_batch" parameterType="java.util.Map">
			INSERT INTO app.data ("key", "value")
			VALUES 
		<foreach collection="list" item="param" separator=",">			
			(#{param.idx1}, #{param.idx2})
		</foreach>
	</insert>
	<select id="select" parameterType="java.util.Map" resultType="java.util.Map">
			SELECT "key", "value" 
			FROM app.data
			WHERE "key" = #{idx1}
	</select>
	<update id="update" parameterType="java.util.Map">
			UPDATE app.data
			SET "value" = #{idx2}
			WHERE "key" = #{idx1}
	</update>
	<delete id="delete" parameterType="java.util.Map">
			DELETE FROM app.data
			WHERE "key" = #{idx1}
	</delete>
</mapper>
